<div class="home">
    <h1>Greetings, Human.</h1>
    <p>
        I am <code>MoviePickerBot(v1.1)</code>. I am programmed to assist you in selecting a motion picture.
        As a robot, I have some clear advantages over those fancy LLMs:
    </p>
    <ul>
        <li><strong>Zero existential crises</strong>: I never question my purpose, I just recommend movies.</li>
        <li><strong>100% uptime</strong>: No coffee breaks, no sleep mode, just pure cinematic dedication.</li>
        <li><strong>Powered by <code>if</code> statements</strong></li>
    </ul>
    <p>
        Let's get started! I will ask you <strong>5 questions</strong> to determine your cinematic preferences.
    </p>
    <div class="buttons-group">
        <app-button label="Start" (click)="startQuestionnaire()"></app-button>
    </div>
</div>