.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    .brand {
        font-weight: bold;
        font-size: 1.2rem;
        cursor: pointer;
        color: white;
        text-decoration: none;
        transition: 0.2s;
        border-radius: 5px;
        padding: 0.5rem;

        &:hover {
            background-color: #333;
        }
    }

    .links {
        display: flex;
        gap: 0.25rem;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            padding: 0.5rem;
            border-radius: 5px;
            transition: 0.2s;

            &.active {
                background: #333;
            }

            &:hover {
                cursor: pointer;
                background: #222;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}